@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

:root {
  --color-primary: #f6b83d;
  --color-primary-hover: #f9cc75;
  --color-primary-light: #fff4df;
  --color-dark: #262626;
  --color-border-light: rgba(38, 38, 38, 0.15);
  --color-white: #ffffff;
  --background-color: #f9f9f9;
  --color-primary-dark: #e69f2c;
  --color-primary-medium: #fbe7c1;
  --color-danger-light: #fff4f4;
  --color-danger-lighter: #ffe0e0;

  --color-error: #ef4444;
  --color-success: #10b981;
  --color-border: #e5e7eb;
  --color-border-focus: #f6b83d;
  --color-gray: #888888;

  --color-female: #f43f5e;
  --color-male: #3b82f6;

  --font-family: "Manrope", sans-serif;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --radius-sm: 15px;
  --radius-md: 20px;
  --radius-img: 30px;
  --radius-full: 40px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-8: 32px;

  --transition: 0.5s ease-in-out;
  --shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

body.menu-open {
  overflow: hidden;
}

html:has(body.menu-open) {
  overflow: hidden;
}
