*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #262626;
  --white: #FFFFFF;
  --yellow: #FFF4DF;
  --dark-yellow: #F6B83D;
  --red: #EF2447;
  --green: #08AA83;
}

body {
  font-family: Manrope, sans-serif;
  margin: 0;
  padding: 0px 20px;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}